asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
cffi==1.11.5
cryptography==2.3
DateTime==4.2
falcon==1.4.1
falcon-cors==1.1.7
gogo==1.1.1
gunicorn==19.9.0
idna==2.7
marshmallow==3.0.0b12
more-itertools==4.2.0
nose==1.3.7
object-mapper==1.0.5
passlib==1.7.1
pluggy==0.6.0
psycopg2-binary==2.7.5
py==1.5.4
pycparser==2.18
pygogo==0.12.0
PyJWT==1.6.4
pytest==3.6.3
python-mimeparse==1.6.0
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.10
SQLAlchemy-Utils==0.33.3
ujson==1.35
zope.interface==4.5.0
